@font-face {
    font-family: madeleina;
    src: url("MadeleinaSans-2VY3.ttf");
}

body {
    background-color: yellow;
    margin: auto;
    width: 70%;
    padding: 10px;
    text-align: center;
}

h1{
    font-size: 45pt;
    font-family: MadeleinaSans-2VY3;
}

p1{
    font-size: 20pt;
}


