* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #f7931a;
}

.menu {
    width: 100%;
    background-color: rgb(65, 64, 63);
    position: fixed;
}

.menu ul {
    display: inline-flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    text-decoration: none;
}

.menu ul li {
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    font-size: 20pt;
    font-family: sans-serif;
    text-decoration: none;
}


.menu ul li a {
    color: rgba(255, 255, 255, 0.459);
}

.menu ul li a:visited {
    color: rgba(255, 255, 255, 0.459);
}
.menu ul li a:hover { 
    color: black;
}

.home {
    text-decoration: none;
}

.logo img {
    width: 50px;
}

.login-btn {
    position: absolute;
    top: 25%;
    right: 10%;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 30px;
    background-image: linear-gradient(#5a5245, #5a5a42), radial-gradient(circle at top left, #fd7200, #f8f419);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.login-btn:hover{
    background-image: linear-gradient(#5a52452a, #5a5a4241), radial-gradient(circle at top left, #ff9913, #f7d43c);
}

.login-btn span {
    display: block;
    padding: 8px 22px;
}

.register-btn {
    position: absolute;
    top:  25%;
    right: 2%;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 30px;
    background-image: linear-gradient(#5a5245, #5a5a42), radial-gradient(circle at top left, #fd7200, #f8f419);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.register-btn:hover { 
    background-image: linear-gradient(#5a52452a, #5a5a4241), radial-gradient(circle at top left, #ff9913, #f7d43c);

}

.register-btn span {
    display: block;
    padding: 8px 22px;
}
.heading {
    width: 80%;
    height: 70%;
    right: 40%;
    top: 25%;
    left: 130px;
    position: absolute;
    font-family: sans-serif;
}

.heading h1 {
    font-size: 40pt;
    border-bottom-style: solid;
}

.heading p {
    font-size: 20pt;
}