.test_container {
    background-color: lightslategray;
    margin: auto;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    /*height: 850px;*/
    padding: 10px;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.test_container h1 {
    font-size: 35pt;
    border-bottom-style: solid;
    margin: 20px;
    font-family: 'Crimson Text', serif;
    color: #32373c;
}

.test_container p, #quiz-over > h3{
    font-size: 18pt;
    margin: 20px 30px 30px 30px;
    text-align: center;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
    color: #32373c;
}

#quiz-answer-summary {
    font-size: 15pt;
    font-family: 'Work Sans', sans-serif;
    color: #32373c;
    margin-left: 5%;
}

.choices {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.choices button {
    background-color: #ffb55c;
    border-radius: 5px;
    margin: 5px;
    width: 80%;
    height: 60px;
    font-family: 'Work Sans', sans-serif;
    color: #32373c;
    font-size: 18px;
    text-align: center;
    padding: 10px 30px 10px 30px;
}

.choices button:hover {
    cursor: pointer;
    transform: scale(1.025);
    transform: transform 100ms;
}

#progressBarA {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #32373c;
    float: right;
    margin-right: 25px;
    margin-top: 10px;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFullA {
    height: 100%;
    width: 40%;
    background-color: rgb(82, 255, 47);
}

.assessment-button {
    float: right;
    margin-right: 25px;
    margin-top: 100px;
    cursor: pointer;
    width: 150px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    background: linear-gradient(45deg, rgb(255, 153, 0) 10%, rgb(231, 168, 84) 90%);
    background-size: 200% 100%;
    padding: 1.5rem 2rem;
    color: black;
    border-radius: 20px;
    font-size: 18pt;
    font-family: 'Work Sans', sans-serif;
    transition: .3s;
}

#assessment-controls {
    width: 100%;
    font-family: 'Crimson Text', serif;
    color: #32373c;
    font-size: 35pt;
}

#back-button:hover, #submit-button:hover {
    animation: anim 3s linear infinite;
    transform: scale(1.05);
    transform: transform 100ms;
}

@keyframes anim {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#score-display {
    display: inline-flex;
    margin-top: 59px;
    margin-left: 25px;
}

#score-head {
    font-family: 'Crimson Text', serif;
    color: #32373c;
    font-size: 35pt;
}

#score {
    margin-left: 25px;
    font-family: 'Crimson Text', serif;
    color: #32373c;
    font-size: 35pt;
}

.question-hidden {
    display: none;
}