.heading-content {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    font-size: 38pt;
    font-family: 'Crimson Text', serif;
    color: #32373c;
}

.subheading-content {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-bottom-style: solid;
    text-align: center;
    font-size: 18pt;
    font-family: 'Work Sans', sans-serif;
    color: #32373c;
}

.box-table {
    margin-top: 35px;
}

.options {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 15px 15px;
    width: 1000px;
    /*width: 2000px*/
    text-decoration: none;
}

.options td {
    display: inline-flex;
    width: 250px;
    height: 150px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    background-color: #32373c;
    border-radius: 25px;
    box-shadow: 2px 2px 10px black;
    font-size: 20pt;
    font-family: 'Work Sans', sans-serif;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.options td a {
    display: block;
}

.options td:visited {
    color: white;
    text-decoration: none;
}

.options td:hover {
    text-decoration: none;
    color: orange;
    transform: scale(1.05);
    transition: all 0.2s ease-in;
    background-color: #474c52;
}

.box1 {
    float: left;
    margin-left: 160px;
    /*margin-left: 300px;*/
}

.box2 {
    float: right;
    margin-right: 160px;
    /*margin-right: 300px;*/
}

.box3 {
    float: left;
    margin-top: 100px;
}

.box4 {
    margin-top: 100px;
    margin-left: 35px;
    margin-right: 35px;
    /*margin-left: 160px;*/
}

.box5 {
    margin-top: 100px;
    float: right;
}

.options_img {
    width: 10%;
    height: auto;
    padding-left: 20px;
}