/** Header */

header {
    --tw-bg-opacity: 1;
    background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
}

#topbar {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 640px) {
    #topbar {
        padding: 15px 40px;
        flex-direction: row;
    }
}

#topbar-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    color: white;
}

@media (min-width: 640px) {
    #topbar-nav {
        flex-direction: row;
        padding: 0 25px;
    }
}

.navbar-item {
    padding: 6px 14px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: ui-serif, Georgia, "Times New Roman", Times, serif;
}

.navbar-item:hover {
    text-decoration: none;
    transform: scale(1.1);
    transition: all 0.2s ease-in;
}

.navbar-active {
    --tw-bg-opacity: 1;
    color: rgba(31, 41, 55, var(--tw-bg-opacity));
}

.menu-svg {
    height: 4px;
    width: 4px;
}

#brand {
    display: flex;
    justify-content: center;
}

#brand>img {
    width: 150px;
    height: 50px;
}

.login-button {
    text-decoration: none;
    display: inline-flex;
    padding: 10px 10px;
    margin: 0 6px;
    font-size: 12px;
    color: white;
    font-weight: 400;
    border-width: 1px;
    border-color: transparent;
    line-height: 1rem;
    border-radius: 0.375rem;
    justify-content: center;
    width: 80px;
}

.login-button a {
    color: white;
    text-decoration: none;
}

.login-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in;
}

#login-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
}

