.ban h1 { 
    text-align: center;
    font-size: 52pt;
    font-family: 'Crimson Text', serif;
    color: #32373c;

}

.sub2 { 
    text-align: left;
    font-size: 30pt;
    font-family: 'Work Sans', sans-serif;
    color: #32373c;
    margin-top: 40px;
}