
.heading-content {
    text-align: center;
    font-size: 40pt;
    font-family: 'Crimson Text', serif;
    color: #32373c;
}

.subheading-content {
    text-align: center;
    font-size: 18pt;
    font-family: 'Work Sans', sans-serif;
    color: #32373c;
    margin-top: 40px;
}

.box-table {
    margin-top: 100px;
}

.options {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 15px 15px;
    width: 2000px;
}

td {
    display: inline-flex;
    width: 500px;
    height: 300px;
    float: left;
    padding: 25px;
    justify-content: center;
    align-items: center;
    background-color: #32373c;
    border-radius: 25px;
    font-size: 20pt;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

/* td:hover {
    text-decoration: none;
    transform: scale(1.1);
    transition: all 0.2s ease-in;
    background-color: #474c52;
} */

.box1 {
    float: left;
    margin-left: 300px;
}

.box2 {
    float: right;
    margin-right: 300px;
}

.box3 {
    float: left;
    margin-top: 100px;
}

.box4 {
    margin-top: 100px;
    margin-left: 160px;
}

.box5 {
    margin-top: 100px;
    float: right;
}