.title h1 { 
    font-size: 30pt;
    font-family: 'Crimson Text', serif;
    color: #32373c;
    margin-left: auto;
    margin-right: auto;
    text-decoration: solid;
    border-bottom-style: solid;
    width: fit-content;
}

.assesment-container {
    position: relative;
    margin-top: 50px;
    width: 1000px;
    height: 750px;
    background-color: #32373c;
    box-shadow: 2px 2px 10px black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#video iframe {
    display: block;
    position: absolute;
    justify-content: center;
    margin-left: 150px;
    border: solid black;
}

#video {
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 150px;
}

#next {
    float: right;
    margin-top: 650px;
    margin-right: 75px;
    margin-left: 815px;
    cursor: pointer;
    width: 150px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    position: fixed;
    background: linear-gradient(45deg, orange 10%, red 90%);
    background-size: 200% 100%;
    padding: 1.5rem 2rem;
    color: black;
    border-radius: 100px;
    font-size: 18pt;
    font-family: 'Work Sans', sans-serif;
    transition: .3s;
}

#next:hover {
    animation: anim 3s linear infinite;
    transform: scale(1.05);
    transform: transform 100ms;
}

@keyframes anim {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.video-info p {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 100px;
    position: absolute;
    color: white;
    font-size: 12pt;
    font-family: 'Work Sans', sans-serif;
}

.hud {
    display: flex;
    justify-content: space-between;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(82, 255, 47);
    margin-top: 2rem;
    margin-right: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    width: 0%;
    background-color: rgb(82, 255, 47);
}

.summary {
    position: absolute;
    padding: 10px;
    width: 75%;
    margin-left: 75px;
    margin-top: 100px;
    color: white;
}

.summary h2 {
    font-size: 25pt;
    font-family: 'Crimson Text', serif;
}

.summary p {
    font-size: 15pt;
    font-family: 'Work Sans', sans-serif;
}