.login-form {
    position: absolute;
    margin-left: 42.5%;
    margin-top: 200px;
    width: 500px;
    background-color:  #32373c;
    border-radius: 25px;
}

.register-form {
    position: absolute;
    margin-left: 42.5%;
    margin-top: 200px;
    width: 500px;
    background-color:  #32373c;
    border-radius: 25px;
}

.login-head, .details, .user, .pass, .userinput, .passinput, .remember, .submit, .email, .emailinput, .register-head, .reg-details{
    text-align: center;
}

.login-head, .register-head {
    border-bottom: 2px solid black;
}

.userinput input {
    height: 40px;
    width: 80%;
    padding: 0 5px;
    font-size: 16pt;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid orange;
    color: white;
}

.emailinput input {
    height: 40px;
    width: 80%;
    padding: 0 5px;
    font-size: 16pt;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid orange;
    color: white;
}


.passinput input {
    height: 40px;
    width: 80%;
    padding: 0 5px;
    font-size: 16pt;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid orange;
    color: white;
}

form h1 {
    font-size: 52pt;
    font-family: 'Crimson Text', serif;
    color:white;
}

form p{
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 12pt;
}

form label {
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 16pt;
}

.new {
    text-align: center;
}

.new a {
    color: orange;
}

input[type="submit"] { 
    margin-top: 30px;
    width: 60%;
    height: 50px;
    border: 1px;
    background: linear-gradient(45deg, rgb(255, 153, 0) 10%, rgb(231, 168, 84) 90%);
    background-size: 200% 100%;
    border-radius: 25px;
    font-size: 18pt;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
}

input[type="submit"]:hover {
    animation: anim 3s linear infinite;
    transform: scale(1.05);
    transform: transform 100ms;
}

@keyframes anim {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.remember { 
    margin-top: -25px;
}
