.register-form {
    position: absolute;
    margin-left: 42.5%;
    margin-top: 200px;
    width: 550px;
    background-color:  #797b7e;
    border-radius: 25px;
}

.register-head {
    text-align: center;
}

.reg-details {
    text-align: center;
}

