#Scoretable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#Scoretable td, #Scoretable th {
    border: 1px solid #ddd;
    padding: 8px;
    font-family: 'Georgia, "Times New Roman"';
}

#Scoretable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#Scoretable tr:hover {
    background-color: #ddd;
}

#Scoretable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e7900e;
    color: white;
}

.statistics_button {
    display: inline-flex;
    padding: 6px 6px;
    margin-left: 15px;
    margin-top: 30px;
    font-size: 10px;
    color: white;
    font-weight: 400;
    border-width: 1px;
    border-color: transparent;
    cursor: pointer;
    line-height: 1rem;
    border-radius: 0.375rem;
    justify-content: center;
    width: 80px;
}

.statistics_button:active {
    color: white;
    text-decoration: none;
}
.quiz-results-container {
    padding: 5px;
}