{%extends "layout.html"%}

{%block content%}
<div class="container">
    <div class="heading">
        <div class="content" style="margin:auto;float:none">
            <h1 style="text-align:center">Error 404</h1>
            <p>Unfortunately the page you are looking for can't be found
                or doesn't exist.
            </p><br>
        </div>
        <img src="../static/Pictures/broken_bitcoin.png" alt="broken bitcoin"
            style="width:20%; height:auto; margin-left:42%;">
    </div>
</div>

{%endblock%}