{%extends "layout.html"%}

{%block content%}

<script>
    var progress = 0;
    
</script>

<div class="test_container">
 <div id="progressBarA">
      <div id="progressBarFullA"></div>
    </div>
    <h1>{{quiz.quizname}}</h1><br>
    <p id="Q">{{quiz.get_a_question(num=1).questiontext}}</p><br>
    <div class="choices">
        <button id="1">{{quiz.get_a_question(num=1).get_a_answer(num=1).answertext}}</button><br><button id="2">{{quiz.get_a_question(num=1).get_a_answer(num=2).answertext}}</button><br>
        <button id="3">{{quiz.get_a_question(num=1).get_a_answer(num=3).answertext}}</button><br><button id="4">{{quiz.get_a_question(num=1).get_a_answer(num=4).answertext}}</button><br>
    </div>
    <div class="next-btnA">
      <button id="nextA">Next</button>
    </div>
    <div id="score-display">
        <h2 id="score-head">Score:</h2>
        <h2 id="score">0</h2>
    </div>
</div>

<script>
    const progressBarFullA = document.querySelector('#progressBarFullA');
    const progressBarA = document.querySelector('#progressBarA');
    const MAX_PAGES = 5
    
</script>
{%endblock%}