<!DOCTYPE html>
<html lang="en">
	<head>
		{%if title%}
		<title>{{title}} - Cryptocurrency Quiz</title>
		{%else%}
		<title>Welcome to the Cryptocurrency Quiz</title>
		{%endif%}
		<meta charset="utf-8">
    	<link rel="stylesheet" href="{{url_for('static', filename='CSS/Style.css')}}">
	</head>
	<body>
		<div class="container">
			<div class="menu">
				<ul>
					<li class="logo"><img src="{{url_for('static', filename='Pictures/logo cropped.png')}}"></li>
					<li class="home"><a href="Theme and Purpose.html">Home</a></li>
					<li><a href="Login.html" class="login-btn">Login</a></li>
					<li><a href="Registration.html" class="register-btn">Register</a></li>
				</ul>
			</div>
			{%block content%}{%endblock%}
		</div>
	</body>
</html>
