<!DOCTYPE html>
<html>

<head>
  <title>Learn Blockchain</title>
  <link rel="stylesheet" href="../static/CSS/Learning.css">
  <link rel="stylesheet" href="../static/CSS/Learning.css" />
  <link rel="stylesheet" href="../static/CSS/Style.css" />
  <link rel="stylesheet" href="../static/CSS/Layout.css" />
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
</head>

<body>
    
</body>

</html>