{%extends "layout.html"%}
{%block content%}
<div class="heading-content">
    <h1>Begin Learning</h1>
</div>
<div class="subheading-content">
    <p>Please select a module to begin</p>
</div>
<div class="box-table">
    <table class="options">
        <tr>
            <td class="box1">Blockchain</td>
            <td class="box2" colspan="2">NFTs</td>
        </tr>
        <tr>
            <td class="box3">Crypto Mining</td>
            <td class="box4">Environment Effect</td>
            <td class="box5">Cryptocurrencies</td>
        </tr>
    </table>
</div>
{%endblock%}