{%extends "layout.html"%} {%block content%}
<div class="heading-content">
  <h1>Begin Learning</h1>
</div>
<div class="subheading-content">
  <p>Please select a module to begin</p>
</div>
<div class="box-table">
  <table class="options">
    <tr>
      <td onclick="document.location.href='/lesson/1';"class="box1">Blockchain</td>
      <td onclick="document.location.href='/lesson/2';"class="box2" colspan="2">NFTs</td>
    </tr>
    <tr>
      <td onclick="document.location.href='/lesson/3';"class="box3">Crypto Mining</td>
      <td onclick="document.location.href='/lesson/4';"class="box4">Environment Effect</td>
      <td onclick="document.location.href='/lesson/5';"class="box5">Cryptocurrencies</td>
    </tr>
  </table>
</div>
{%endblock%}
