{%extends "layout.html"%} {%block content%}
<div class="test_container">
  <h1>Congratulations on Completing {{feedback.quizname}}</h1>
  <br />

  {% for question in feedback.questions %}
  <div id="question-{{question.id}}">
    <p>{{question.questiontext}}</p>
    <br />
    <div class="choices">
      {% for answer in question.get_randomized_answers() %}
      <button id="answer-{{answer.id}}">{{answer.answertext}}</button>
      {% endfor %}
    </div>
  </div>
  <p style="color:rgb(6, 226, 6);">
    Correct Answer: {{question.get_correct_answer().answertext}}
  </p>
  {% endfor %}
</div>
{%endblock%}