
{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="heading">
        <div class="content">
            <h1>Welcome to the Cryptocurrency <br> Crash Course!</h1><br />
            <p>Register and take this course to learn about Cryptocurrency in under 20 minutes. Test your
                knowledge
                at the end and see how you compare to others.</p>
        </div>
    </div>
    <div class="main-picture">
        <img src="../static/Pictures/bitcoins.png">
    </div>
</div>
{% endblock %}