{% extends "layout.html" %} {% block content %}


<div>
  <div id="price-list" class="flex">
    {% for coin in priceData %} 
      <div class="flex flex-column price-list-column">
        <div class="flex">
          <div class="price-list-heading">{{coin[0]}}</div>
          <img class="price-list-image" src="{{coin[2]}}"/>
        </div>
        <div class="flex flex-column price-list-inner-lower">
          <div>${{coin[3]}}</div>
          <div class="{{'green-text' if coin[4]>=0 }} {{'red-text' if coin[4]<0 }}">{{coin[4]}}%</div>


        </div>
        <div>

        </div>
      </div>
    {% endfor %}
  </div>

</div>

<div class="container">

  <div class="heading">
    <div class="content">
      <h1>
        Welcome to the Cryptocurrency <br />
        Crash Course!
      </h1>
      <br />
      <p>
        Register and take this course to learn about Cryptocurrency in under 20
        minutes. Test your knowledge at the end and see how you compare to
        others.
      </p>
      <p>
        The course consists of 5 topics within Cryptocurrency. Login or sign up
        to head over to the learn page and select a topic. Watch a short video,
        read some notes and proceed to take a quiz at the end.
      </p>

    </div>
  </div>
  <div class="main-picture">
    <img src="../static/Pictures/bitcoins.png" alt="bitcoins" />
  </div>
</div>
{% endblock %}