<!DOCTYPE html>
<html lang="en">

<head>
    {% if title %}
    <title>{{title}} - Cryptoquiz</title>
    {% else %}
    <title>Welcome to the Cryptoquiz!</title>
    {% endif %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/CSS/Content.css">
    <link rel="stylesheet" href="../static/CSS/Style.css" />
    <link rel="stylesheet" href="../static/CSS/Assessment.css" />
    <link rel="stylesheet" href="../static/CSS/Lesson.css" />
    <link rel="stylesheet" href="../static/CSS/Layout.css" />
    <link rel="stylesheet" href="../static/CSS/Statistics.css" />
    <link rel="stylesheet" href="../static/CSS/Login+Registration.css" />

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text%7CWork+Sans:400,700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text%7CWork+Sans:400,700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
</head>

<body>
    <section>
        <header>
            <div id="topbar">
                <div id="brand">
                    <img src="../static/Pictures/logo.png" alt="logo">
                </div>
                <nav id="topbar-nav">
                    <a href="/" class="navbar-item">Home</a>
                    <a href="/lesson" class="navbar-item">Learn</a>
                    <a href="/statistics" class="navbar-item">Statistics</a>
                </nav>
                <div id="login-container">

                    <div class="flex">
                        {% if current_user.is_authenticated == False %}
                        <a class="login-button background-indigo" href="{{ url_for('login') }}">
                            <div id="login-button" >Login</div>
                        </a>
                        <a class="login-button background-darkgray" id="register-button-area" href="{{ url_for('register') }}">
                            <div id="register-button" >Register</div>
                        </a>
                        {% else %}
                        <a class="login-button background-darkgray" href="{{ url_for('logout') }}">
                            <div >Logout {{current_user.username}}</div>
                        </a>
                        {% endif %}
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </header>
    </section>

    <section id="main">
        {% block content %}{% endblock %}
    </section>

    {% block scripts %}
    <script>

    </script>
    {% endblock %}
</body>

</html>