{%extends "base.html"%}
    
{%block content%}
    <form action="Content.html" method="post">
        <h1>Login</h1>
        <p>Enter details to login to account</p><br />

        <label for="username">Username</label><br />
        <input type="text" placeholder="Enter username" name="username" id="username" required> <br />

        <label for="pass">Password</label><br />
        <input type="password" placeholder="Enter password" name="pass" id="pass" required> <br />
        <p>{{form.remember_me()}}{{form.remember_me.label}}</p>

        <button type="submit" class="login">Login</button><br />
    </form>


{%endblock%}