{%extends "layout.html"%}

{%block content%}



<div>
    <h1 style="font-size: 35pt; border-bottom-style:solid; margin:20px; font-family: 'Crimson Text', serif; color: #32373c;">
        World Leaderboard</h1>
    <div>
        <label for="quiz">Select a quiz</label>
        <select id="quiz">
            {% for quiz in quizzes %}
              <option>{{quiz.quizname}}</option>
            {% endfor %}
        </select>
    </div>
    
    <table id="Scoretable" style="margin-top: 5px;">
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
        </tr>

        {% for result in results %}
            {% for quizresult in result.quizresults %}
                {% if quizresult.quizid == 1 %}
            <tr>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>{{quizresult.score}}</td>
            </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
</div>
  {%block scripts%}
  {%endblock%}

{%endblock%}